
src/pages/__pycache__/*
src/pages/migrations/__pycache__/*
src/eatitnext/secret_settings.py
src/eatitnext/__pycache__/*
src/pages/migrations/__pycache__/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
