{% extends 'base.html' %}
{% block content %}

<style>
h3{
    font-size: 1.2em;
    font-weight: 625;
}
p{
    line-height: 1.6em;
}
</style>

<div class="row">
    <div class="col-md-12">
        <h2>About Us </h2><br/>

        <h3>What is Eat It Next?</h3></br>
            <p>
                Eat It Next is an online meal planner app that allows you to organize your daily meals. You’re just a few clicks away from a healthy lifestyle. Enter your planned calories for the day, and our software automatically creates your meal plans based on your calorie intake. By providing tools that streamline the meal planning process we equip households to eat better food, eat together, and have a less stressful cooking experience in the kitchen.
            </p><br/>

        <h3>Why Eat It Next?</h3></br>
            <p>
                Our physical, mental and emotional health is directly related to what we eat, and the best way to ensure a healthy lifestyle, it is important to manage and track ones meals.
                With a system to organize daily meals, plan menus, and compile the ingredients, no one will never lack the essentials we need to have a healthy diet.
                Our hope is that Eat it Next will equip you to plan and prepare delicious, healthy,  and wholesome food at home that will nourish both your body and soul.
            </p><br/>

        <h3>How it works?</h3></br>
                <ol>
                    <li>Enter your calorie intake for the day.<br/><span style="color:rgb(173, 67, 67); font-weight: 500;">If you're not well equipped with your desired calorie intake, use our smart calorie calculator to help you identify the requirement. </span></li>
                    <li>Specify the diet (i.e. Vegan, Vegetarian, etc.)</li>
                    <li>You’re just a click away from generating your automated meal plan for the day.</li>
                </ol><br/>

    </div>
</div>
{% endblock content %}