{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Credits</h2></br>

        <ul>
            <li><strong>Django</strong> - Python Framework used to create this site.</li>
            <li><strong>Python</strong> - Scripting Language Django is built on.</li>
            <li><strong>HTML, CSS, JavaScript</strong> - Front-End languages utilized to create our UI.</li>
            <li><strong>Bootstrap</strong> - HTML, CSS, JavaScript framework directed at responsive, mobile-first front-end web development.</li>
            <li><strong>AWS: EC2, RDS, Route53</strong> - Provides on-demand cloud computing platforms.</li>
        </ul>
    </div>
</div>


{% endblock content %}