{% load static %}

<div class="container">
    <div class="row footer-row" id="footer">
        <div class="col-md-4 left-pad" id="footer-border">
            
            <a class="footer-link" href="{% url 'about-us' %}">About Us</a><br/>

            <a class="footer-link" href="{% url 'blog' %}">Blog</a><br/>

            <a class="footer-link" href="{% url 'project-docs' %}">Project Docs</a><br/>
        </div>

        <div class="col-md-4 left-pad" id="footer-border">
            <a class="footer-link" href="{% url 'legal' %}">Legal</a><br/>

            <a class="footer-link" href="{% url 'tos' %}">Terms of Use</a><br/>

            <a class="footer-link" href="{% url 'privacy-policy' %}">Privacy Policy</a><br/>
        
            <a class="footer-link" href="{% url 'credits' %}">Credits</a><br/>
        </div>

        <div class="col-md-4 left-pad center-col" >
            <a class="footer-link" href="http://fb.com/eatitnext" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a><br/>

            <a class="footer-link" href="https://twitter.com/Eat_It_Next" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a><br/>

            <a class="footer-link" href="https://www.instagram.com/eatitnext/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a><br/>

            <a class="footer-link" href="mailto:bryanrojascs@gmail.com"><i class="far fa-envelope"></i> Email</a><br/>
        </div>
    </div>

    <div class="row" id="copyright">
        <div class="col">
            <center>
                Copyright © 2019 RVJG Inc. All rights reserved.
            </center>
        </div>
    </div>

</div>