{% extends 'base.html' %}

{% block content %}
    <center>
        <h2>Welcome!</h2>

        <p id="intro-paragraph">It's time to stop worrying about planning your next meal! 
        EatItNext creates a personalized meal plan based on your dietary preference.
        Let us help you with our meal plans, calorie calculator, and more. 
        Create your meal plan right here in seconds.
        </p><br/>
    </center>

        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="card">
                <div class="card-header">
                    <h3 style="font-size: unset; font-size: 1.2em;">Automatic Meal Planner</h3>
                </div>
                <div class="card-body">

                {% if valid == False %}
                    <span style="color: red;">
                    <strong>Errors:</strong><br/>
                    <ul>
                    {% if calories_invalid == True %}
                    <li>Invalid amount of calories, please choose a value between 400 to 5200 calories.</li>
                    {% endif %}
                    </ul>
                    </span>
                    <br/>
                {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary">Generate Meal Plan</button>
               
                    </form>

                </div>
                </div>
            </div>

            <div class="col-md-1">
            
            </div>
        </div>

        {% if null != True and valid == True %}
            {% include "result.html" %}
        {% endif %}


{% endblock content %}