{% extends 'base.html' %}

{% block content %}
    <center>
        <h2>Welcome!</h2>

        <p id="intro-paragraph">It's time to stop worrying about planning your next meal! 
        EatItNext creates a personalized meal plan based on your dietary preference.
        Let us help you with our meal plans, calorie calculator, and more. 
        Create your meal plan right here in seconds.
        </p><br/>
    </center>

        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="card">
                <div class="card-header">
                    <h3 style="font-size: unset; font-size: 1.2em;">Automatic Meal Planner</h3>
                </div>
                <div class="card-body">
<!--
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn">
                            <input type="radio" name="options" id="option1" checked> Any
                        </label>
                        
                        <label class="btn">
                            <input type="radio" name="options" id="option2"> Vegan
                        </label>
                        
                        <label class="btn">
                            <input type="radio" name="options" id="option3"> Vegetarian
                        </label>

                        <label class="btn">
                            <input type="radio" name="options" id="option4"> Paleo
                        </label>

                        <label class="btn">
                            <input type="radio" name="options" id="option5"> Mediterranean
                        </label>

                        <label class="btn">
                            <input type="radio" name="options" id="option5"> Ketogenic
                        </label>
                    </div>
                    <br/>
-->

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
<!--
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label for="exampleFormControlInput1">Calories</label>
                            </div>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Not Sure? Use our Calorie Calculator">
                            </div>
                        </div>
-->
                        <button type="submit" class="btn btn-primary">Generate Meal Plan</button>
               
                    </form>

                </div>
                </div>
            </div>

            <div class="col-md-1">
            
            </div>
        </div>

        {% if null != True %}
            {% include "result.html" %}
        {% endif %}


{% endblock content %}