{% extends 'base.html' %}

{% block content %}
<style>
h3{
    font-size: 1.2em;
    font-weight: 625;
}
p{
    line-height: 1.6em;
}
</style>

<div class="row">
    <div class="col-md-12">
        <h2>Legal </h2><br/>
        
        Last updated: 5/3/2019
        <br/><br/>

        <h3>Legal Information</h3></br>
            <p>
                Welcome to Eat It Next (the “Web site”). 
                Please read this Terms and Conditions of Use Notice (“Notice”) carefully before using the Web site. 
                By viewing or otherwise using this Web site, you agree you are 12 or older and agree to the Eat It Next 
                privacy policy and to the terms and conditions in this Notice. We reserve the right in our sole discretion 
                to change, modify, add, or delete portions of this Notice at any time. We will provide notice of such changes only 
                by posting the updated Notice on our Web site and changing the “last updated” date listed above. 
                This Notice applies exclusively to your access to, interaction with, and use of, this Web site and does not alter 
                in any way the terms or conditions of any other agreement you might have with Eat It Next, Inc. for products, services, or otherwise. 
                We encourage you to review our Notice each time you visit our site to see if it has been updated since your last visit. 
                If you have any questions regarding the use of the Web site, please direct to <a href="mailto:BryanRojasCS@gmail.com">BryanRojasCS@gmail.com.</a>
            </p><br/>

    </div>
</div>
{% endblock content %}