{% load static %}
<script src="{% static 'js/active.js'%}"></script>

<nav class="navbar navbar-expand-sm navbar-dark">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand" href="{% url 'home' %}">
			<h1 style="all: unset">Eat It Next &nbsp;</h1>
			<img src="{% static 'img/favicon.ico' %}" alt="Eat It Next Logo">
		</a>
		

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'calorie-calc' %}">Calorie Calculator</a>
				</li>
			</ul>
		</div>
	</div>
</nav>