body {
    background-color: #c94f44 !important;
}

#content {
    margin-top: 50px;
    background-color: #c94f44 !important;
}


#currentPageInNav{
    color: white !important;
    font-weight: 500;
}