.navbar-brand:focus{
    border-bottom: 4px solid white;
}

.navbar-brand:hover{
    color: rgb(85, 187, 255) !important;
}

.nav-link:focus{
    border-bottom: 4px solid white;
}

.nav-link:hover{
    color: rgb(85, 187, 255) !important;
}

.footer-link:focus{
    border-bottom: 4px solid black;
}

.footer-link:hover{
    color: #181818 !important;
    text-decoration: none;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#banner{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/home-banner.jpg");
}

#currentPageInNav{
    color: rgb(85, 187, 255) !important;
    font-weight: 500;
}

#currentPageInNav:hover{
    color: #e5e5e5 !important;
    font-weight: 500;
}

#intro-paragraph{
    line-height: 2.3em;
}

#copyright{
    color: #888888;
    padding-bottom: 50px;
}

#footer{
    color: #888888;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer{
    background-color: #f2f2f2;
}
