
footer{
    background-color: #f2f2f2;
    border-top: 1px solid rgb(177, 177, 177);
}

.navbar-brand:focus{
    border-bottom: 4px solid white;
}

.navbar-brand:hover{
    color: rgb(85, 187, 255) !important;
}

.nav-link:focus{
    border-bottom: 4px solid white;
    color: rgb(85, 187, 255) !important;
}

.nav-link:hover{
    color: rgb(85, 187, 255) !important;
}

.footer-link:focus{
    border-bottom: 4px solid black;
    color: black !important;
}

.footer-link:hover{
    color: #181818 !important;
    text-decoration: none;
}

@media(min-width: 768px){
    .left-pad{
        padding-left: 3em;
    }
}


#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#banner{
    padding-top: 50px;
    padding-bottom: 50px;
}

#currentPageInNav{
    color: rgb(85, 187, 255) !important;
    font-weight: 500;
}

#currentPageInNav:hover{
    color: #e5e5e5 !important;
    font-weight: 500;
}

#intro-paragraph{
    line-height: 2.3em;
}

#copyright{
    color: #888888;
    padding-bottom: 50px;
}

#footer{
    color: #888888;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media(min-width: 768px){
    #footer-border{
        border-right: 1px solid rgb(177, 177, 177);
    }
}

@media(max-width: 768px){
    #footer{
        text-align: center;
    }
}

@media(max-width: 767px){
    .col-md-4{
        width: 50%;
    }
    .center-col{
        padding-top: 2em;
        width: 100%;
    }
}

input, select{
    margin-left: 5px;
    border-radius: 3px;
    border: none;
    border: 1px solid #007bff;
}