@media print{
    footer, hr, img{
        display: none;
    }
    #welcomemsg{
        display: none;
    }
    #mealplannerform{
        display: none;
    }
    .fa-print{
        display: none;
    }
}

button{
    background: none;
    border: none;
}